<table class="table table-condensed table-hover positions-table">
  <thead>
    <tr>
      <th>Symbol</th>
      <th class="text-right hidden-xs">% Weight</th>
      <th class="text-right hidden-xs">Shares</th>
      <th class="text-right"><span class="visible-xs-inline">AC/S</span><span class="hidden-xs">Avg Cost/Share</span></th>
      <th class="text-right hidden-xs">Cost</th>
      <th class="text-right">Current Price</th>
      <th class="text-right">Market Value</th>
      <th class="hidden-xs hidden-sm">Unrealized Gain/Loss (%)</th>
    </tr>
  </thead>
  <tbody>
  {{#positions}}
    <tr class="position-row">
      <td><a href="#" data-symbolid="{{symbolId}}"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>{{symbol}}</a></td>
      <td class="text-right hidden-xs">{{format portfolioWeight format="0.00%"}}</td>
      <td class="text-right hidden-xs">{{format openQuantity format="0,0"}}</td>
      <td class="text-right">{{currency averageEntryPrice}}</td>
      <td class="text-right hidden-xs">{{currency totalCost}}</td>
      <td class="text-right">{{currency currentPrice}} {{{priceDifference dailyChange}}}</td>
      <td class="text-right">{{currency currentMarketValue}}</td>
      <td class="hidden-xs hidden-sm {{currencyClass openPnl}}">{{currency openPnl}} ({{format percentageOpenPnl format="0.00%"}})</td>
    </tr>
  {{/positions}}
    <tr class="nohover">
      <td>Cash</td>
      <td class="text-right hidden-xs">{{format balance.portfolioWeight format="0.00%"}}</td>
      <td class="text-right hidden-xs"></td>
      <td class="text-right"></td>
      <td class="text-right hidden-xs"></td>
      <td class="text-right"></td>
      <td class="text-right">{{currency balance.cash}}</td>
      <td class="hidden-xs hidden-sm"></td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="hidden-xs nohover">
      <th>Total Market Value</th>
      <th class="text-right"></th>
      <th class="text-right"></th>
      <th class="text-right"></th>
      <th class="text-right">{{currency balance.cost}}</th>
      <th class="text-right"></th>
      <th class="text-right">{{currency balance.totalEquity}}</th>
      <th class="hidden-sm {{currencyClass balance.openPnl}}">{{currency balance.openPnl}} ({{format balance.percentageOpenPnl format="0.00%"}})</th>
    </tr>
    <tr class="hidden-sm hidden-md hidden-lg nohover">
      <th colspan="2">Total Market Value</th>
      <th class="text-right hidden-xs"></th>
      <th class="text-right hidden-xs"></th>
      <th class="text-right hidden-xs"></th>
      <th class="text-right"></th>
      <th class="text-right">{{currency balance.totalEquity}}</th>
      <th class="hidden-xs hidden-sm"></th>
    </tr>
  </tfoot>
</table>
